.bashrc
.directory
.vscode
.~lock.*
.DS_Store
*.egg-info
*.pyc
__pycache__
*.doc
*.docx
*.pdf
*.ppt
*.pptx
*.xls
*.xlsx
*.zip
.venv/
venv/
output/
content/acuerdos-del-consejo/
content/acuerdos-del-pleno/
content/armonizacion-contable/
content/boletines-judiciales/
content/calendario-de-labores/
content/comisiones/
content/comunicados/
content/conocenos/
content/derechos-humanos-e-igualdad-de-genero/
content/edictos-de-declaracion-de-ausencia/
content/entrevistas/
content/justicia-para-ti/
content/magistrados/
content/news-letters/
content/noticias/
content/observatorio-judicial/
content/sala-de-prensa/
content/sesiones/
content/tramites-y-servicios/
content/transparencia/
content/transparencia-proactiva/
content/transparencia-tca/
developmentconf.py
poetry.lock
settings.ini
