        <!-- Inicial Transmisiones Sesiones -->
        <section id="transmisiones_sesiones">
            <div class="container">
                <div class="row h-100">
                    <div class="col-md-6 text-center">
                        <img class="img-fluid my-4" src="{{ SITEURL }}/theme/images/transmisiones-sesiones.jpg" alt="Magistrados del PJECZ">
                    </div>
                    <div class="col-md-6 text-center">
                        <h2>Transmisiones de las Sesiones</h2>
                        <a href="{{ SITEURL }}/sesiones/pleno-del-tribunal-superior-de-justicia/2020/trigesima-octava-sesion-ordinaria/">
                            <h3>Pleno del TSJ</h3>
                            <p>Trigésima Octava Sesión Ordinaria, 2 de diciembre 2020</p>
                        </a>
                        <a href="{{ SITEURL }}/sesiones/sala-civil-y-familiar/2020/cuadragesima-sesion-ordinaria/">
                            <h3>Sala Civil y Familiar</h3>
                            <p>Cuadragésima Sesión Ordinaria, 3 de diciembre 2020</p>
                        </a>
                        <a href="{{ SITEURL }}/sesiones/sala-penal/2020/cuadragesima-sesion-ordinaria-digital/">
                            <h3>Sala Penal</h3>
                            <p>Cuadragésima Sesión Ordinaria Digital, 1 de diciembre 2020</p>
                        </a>
                        <a href="{{ SITEURL }}/sesiones/sala-regional/2020/trigesima-novena-sesion-ordinaria/">
                            <h3>Sala Regional</h3>
                            <p>Trigésima Novena Sesión Ordinaria, 3 de diciembre 2020</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>

