        <!-- Inicial Transmisiones Sesiones -->
        <section id="transmisiones_sesiones">
            <div class="container">
                <div class="row h-100">
                    <div class="col-md-6">
                        <img class="img-fluid m-2" src="{{ SITEURL }}/theme/images/transmisiones-sesiones.jpg" alt="Magistrados del PJECZ">
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-center pt-4">Transmisiones de las Sesiones</h2>
                        <a href="{{ SITEURL }}/sesiones/pleno-del-tribunal-superior-de-justicia/2020/trigesima-sexta-sesion-ordinaria/">
                            <h3 class="text-center mb-0">Pleno del TSJ</h3>
                            <p class="text-center pt-0">Trigésima Sexta Sesión Ordinaria, 18 de Noviembre 2020</p>
                        </a>
                        <a href="{{ SITEURL }}/sesiones/sala-civil-y-familiar/2020/trigesima-octava-sesion-ordinaria/">
                            <h3 class="text-center mb-0">Sala Civil y Familiar</h3>
                            <p class="text-center pt-0">Trigésima Octava Sesión Ordinaria, 19 de Noviembre 2020</p>
                        </a>
                        <a href="{{ SITEURL }}/sesiones/sala-penal/2020/trigesima-octava-sesion-ordinaria-digital/">
                            <h3 class="text-center mb-0">Sala Penal</h3>
                            <p class="text-center pt-0">Trigésima Octava Sesión Ordinaria Digital, 19 de Noviembre 2020</p>
                        </a>
                        <a href="{{ SITEURL }}/sesiones/sala-regional/2020/trigesima-septima-sesion-ordinaria/">
                            <h3 class="text-center mb-0">Sala Regional</h3>
                            <p class="text-center pt-0">Trigésima Séptima Sesión Ordinaria, 19 de Noviembre 2020</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>

