{% for article in articles_page.object_list %}
    <div class="media">
        {% if article.preview %}<a href="{{ SITEURL }}/{{ article.url }}"><img class="m-3" src="{{ SITEURL }}/{{ article.url }}{{ article.preview }}" alt="Previa"></a>{% endif %}
        <div class="media-body">
            <h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
            {{ article.summary }}
            {% if article.tags %}
            <p>
                {% for tag in article.tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}">
                    <span class="badge badge-pill badge-primary badge-{{ tag.slug }}">{{ tag.name }}</span>
                </a>
                {% endfor %}
            </p>
            {% endif %}
        </div>
    </div>
{% endfor %}
