<!-- Índice como tarjetas a tres o dos columnas -->
<div class="row">
    {% for article in articles_page.object_list %}
    <div class="col-md-4 col-sm-6">
        <div class="card my-2 mx-1">
            {% if article.preview %}
                <a href="{{ SITEURL }}/{{ article.url }}"><img class="card-img-top" src="{{ SITEURL }}/{{ article.url }}{{ article.preview }}" alt="Previa"></a>
            {% elif article.category == 'Pleno del Tribunal Superior de Justicia'  %}
                <a href="{{ SITEURL }}/{{ article.url }}"><img class="card-img-top" src="{{ SITEURL }}/theme/images/transmisiones-sesiones-pleno.jpg" alt="Previa"></a>
            {% elif article.category == 'Sala Civil y Familiar'  %}
                <a href="{{ SITEURL }}/{{ article.url }}"><img class="card-img-top" src="{{ SITEURL }}/theme/images/transmisiones-sesiones-civil-familiar.jpg" alt="Previa"></a>
            {% elif article.category == 'Sala Penal'  %}
                <a href="{{ SITEURL }}/{{ article.url }}"><img class="card-img-top" src="{{ SITEURL }}/theme/images/transmisiones-sesiones-penal.jpg" alt="Previa"></a>
            {% elif article.category == 'Sala Regional'  %}
                <a href="{{ SITEURL }}/{{ article.url }}"><img class="card-img-top" src="{{ SITEURL }}/theme/images/transmisiones-sesiones-regional.jpg" alt="Previa"></a>
            {% else %}
                <a href="{{ SITEURL }}/{{ article.url }}"><img class="card-img-top" src="{{ SITEURL }}/theme/images/generic.jpg" alt="Imagen genérica"></a>
            {% endif %}
            <div class="card-body">
                <div class="mb-2">
                    {% for tag in article.tags %}
                    <a href="{{ SITEURL }}/{{ tag.url }}"><span class="badge badge-pill badge-primary badge-{{ tag.slug }}">{{ tag.name }}</span></a>
                    {% endfor %}
                </div>
                <p class="card-subtitle text-muted">{{ article.locale_date }}</p>
                <h3 class="card-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
                {% if article.tags %}
                {% endif %}
                <p class="card-text">
                    {{ article.summary | striptags }}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

