        <!-- Inicial Transmisiones Sesiones -->
        <section id="transmisiones_sesiones">
            <div class="container pb-4">
                <h3 class="text-center pb-4">Transmisiones de sesiones en vivo</h3>
                <div class="row">
                    <div class="col-md-3 text-center">
                        <a href="/sesiones/pleno-del-tribunal-superior-de-justicia/2020/trigesima-tercera-sesion-ordinaria/">
                            <img src="{{ SITEURL }}/theme/images/transmisiones-sesiones-pleno.png" alt="Pleno del TSJ">
                            <h4 class="mb-0">Pleno del TSJ</h4>
                            <p class="pt-0">28 de octubre 2020</p>
                        </a>
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="/sesiones/sala-civil-y-familiar/2020/trigesima-quinta-sesion-ordinaria/">
                            <img src="{{ SITEURL }}/theme/images/transmisiones-sesiones-civil-familiar.png" alt="Civil y Familiar">
                            <h4 class="mb-0">Sala Civil y Familiar</h4>
                            <p class="pt-0">29 de Octubre 2020</p>
                        </a>
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="/sesiones/sala-penal/2020/trigesima-quinta-sesion-ordinaria-digital/">
                            <img src="{{ SITEURL }}/theme/images/transmisiones-sesiones-penal.png" alt="Penal">
                            <h4 class="mb-0">Sala Penal</h4>
                            <p class="pt-0">27 de Octubre 2020</p>
                        </a>
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="/sesiones/sala-regional/2020/trigesima-cuarta-sesion-ordinaria/">
                            <img src="{{ SITEURL }}/theme/images/transmisiones-sesiones-regional.png" alt="Regional">
                            <h4 class="mb-0">Sala Regional</h4>
                            <p class="pt-0">29 de Octubre 2020</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>

