        <!-- Inicial Recomendaciones -->
        <section id="recomendaciones">
            <div class="container pt-4 pb-2">
                <h3 class="text-center">Recomendaciones</h3>
                <div class="row">
                    <div class="col-md-3 text-center">
                        <a href="/conocenos/estructura/tribunal-superior-de-justicia/organos-no-jurisdiccionales/instituto-estatal-de-defensoria-publica/">
                            <img class="rounded-circle" src="/theme/images/tema-defensa-publica.png">
                            <p><strong>Defensa</strong> Pública</p>
                        </a>
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="/conocenos/estructura/tribunal-superior-de-justicia/organos-no-jurisdiccionales/cemasc/">
                            <img class="rounded-circle" src="/theme/images/tema-mediacion.png">
                            <p><strong>Mediación</strong></p>
                        </a>
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="/conocenos/estructura/tribunal-superior-de-justicia/organos-no-jurisdiccionales/instituto-de-especializacion-judicial/">
                             <img class="rounded-circle" src="/theme/images/tema-capacitacion-judicial.png">
                             <p>Capacitación <strong>Judicial</strong></p>
                        </a>
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="/derechos-humanos-e-igualdad-de-genero/">
                            <img class="rounded-circle" src="/theme/images/tema-derechos-humanos-e-igualdad-de-genero.png">
                            <p><strong>Derechos</strong> Humanos</p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-center">
                        <a href="/conocenos/estructura/tribunal-superior-de-justicia/organos-no-jurisdiccionales/centro-de-evaluacion-psicosocial/">
                            <img class="rounded-circle" src="/theme/images/tema-psicologia-y-trabajo-social.png">
                            <p><strong>Psicología</strong> y Trabajo Social</p>
                        </a>
                    </div>
                    <div class="col-md-3 text-center">
                        <img class="rounded-circle" src="/theme/images/tema-comisiones.png">
                        <p><strong>Comisiones</strong></p>
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="/conocenos/estructura/tribunal-superior-de-justicia/organos-jurisdiccionales/juzgados-por-materia/">
                            <img class="rounded-circle" src="/theme/images/tema-juzgados-por-materia.png">
                            <p>Juzgados por <strong>Materia</strong></p>
                        </a>
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="/conocenos/estructura/tribunal-superior-de-justicia/organos-jurisdiccionales/juzgados-por-distrito/">
                            <img class="rounded-circle" src="/theme/images/tema-juzgados-por-distrito.png">
                            <p>Juzgados por <strong>Distrito</strong></p>
                        </a>
                    </div>
                </div>
            </div>
        </section>

