        <!-- Inicial Transmisiones Sesiones -->
        <section id="transmisiones_sesiones">
            <div class="container pb-4">
                <h2 class="text-center pb-4">Transmisiones de sesiones en vivo</h2>
                <div class="row">
                    <div id="transmisiones_sesiones_tsj" class="col-md-3 text-center">
                        <div id="transmisiones_sesiones_tsj_spinner" class="spinner-border" role="status">
                            <span class="sr-only">Cargando...</span>
                        </div>
                    </div>
                    <div id="transmisiones_sesiones_scf" class="col-md-3 text-center">
                        <div id="transmisiones_sesiones_scf_spinner" class="spinner-border" role="status">
                            <span class="sr-only">Cargando...</span>
                        </div>
                    </div>
                    <div id="transmisiones_sesiones_sp" class="col-md-3 text-center">
                        <div id="transmisiones_sesiones_sp_spinner" class="spinner-border" role="status">
                            <span class="sr-only">Cargando...</span>
                        </div>
                    </div>
                    <div id="transmisiones_sesiones_sr" class="col-md-3 text-center">
                        <div id="transmisiones_sesiones_sr_spinner" class="spinner-border" role="status">
                            <span class="sr-only">Cargando...</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

