        <!-- Inicial Accesos Directos -->
        <section id="accesos">
            <div class="container pt-4">
                <h2 class="text-center">Accesos Directos</h2>
                <div class="row">
                    <div class="col-md-3">
                        <a href="https://expedientevirtual.pjecz.gob.mx/Login.php">
                            <div class="card accesos-card mb-2">
                                <img class="card-img-top" src="/theme/images/accesos-expediente-virtual.jpg">
                                <div class="card-body">
                                    <h3 class="card-title mb-0">Expediente Virtual 2.0</h3>
                                    <p>Consulta los Expedientes Virtuales de los Juzgados en materia Civil, Mercantil, Familiar y Penal. </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="https://citas.poderjudicialcoahuila.gob.mx/">
                            <div class="card accesos-card mb-2">
                                <img class="card-img-top" src="/theme/images/accesos-sistema-de-citas.jpg">
                                <div class="card-body">
                                    <h3 class="card-title mb-0">Sitema de Citas</h3>
                                    <p>En esta sección puedes agendar tu visita a nuestros órganos jurisdiccionales.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="https://buzon.pjecz.gob.mx/">
                            <div class="card accesos-card mb-2">
                                <img class="card-img-top" src="/theme/images/accesos-buzon-electronico.jpg">
                                <div class="card-body">
                                    <h3 class="card-title mb-0">Buzón Electrónico</h3>
                                    <p>Aquí podrás enviar demandas iniciales y promociones mediante una plataforma en línea.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="https://www.pjecz.gob.mx/consultas/listas-de-acuerdos/">
                            <div class="card accesos-card mb-2">
                                <img class="card-img-top" src="/theme/images/accesos-listas-de-acuerdos.jpg">
                                <div class="card-body">
                                    <h3 class="card-title mb-0">Listas de Acuerdo</h3>
                                    <p>Este apartado muestra el listado en donde se incluyen autos, acuerdos, sentencias, exhortos y audiencias..</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

