        <!-- Inicial Sitios de Interés -->
        <section id="sitios_interes">
            <div class="container pt-4 pb-2">
                <h2 class="text-center">Sitios de Interés</h2>
                <div class="row pb-2">
                    <div class="col-md-3 text-center">
                        <a href="https://www.scjn.gob.mx/" target="_blank"><img class="m-2" src="{{ SITEURL }}/theme/images/sitios-interes-scjn.png" alt="Suprema Corte de Justicia de la Nación"></a>
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="https://coahuila.gob.mx/" target="_blank"><img class="m-2" src="{{ SITEURL }}/theme/images/sitios-interes-gobcoah.png" alt="Gobierno del Estado de Coahuila"></a>
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="http://congresocoahuila.gob.mx/" target="_blank"><img class="m-2" src="{{ SITEURL }}/theme/images/sitios-interes-congresocoah.png" alt="Congreso del Estado"></a>
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="https://www.plataformadetransparencia.org.mx/" target="_blank"><img class="m-2" src="{{ SITEURL }}/theme/images/sitios-interes-pnt.png" alt="Plataforma Nacional de Transparencia"></a>
                    </div>
                </div>
                <div class="row pb-2">
                    <div class="col-md-3 text-center">
                        <a href="https://www.pjecz.gob.mx/observatorio-judicial/"><img class="m-2" src="{{ SITEURL }}/theme/images/sitios-interes-observatorio.png" alt="CONATRIB"></a>
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="https://www.seacoahuila.org.mx/" target="_blank"><img class="m-2" src="{{ SITEURL }}/theme/images/sitios-interes-saec.png" alt="Sistema Anticorrupicón del Estado"></a>
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="http://conatrib.org.mx/" target="_blank"><img class="m-2" src="{{ SITEURL }}/theme/images/sitios-interes-conatrib.png" alt="CONATRIB"></a>
                    </div>
                    <div class="col-md-3 text-center">
                        <a href="https://conatrib.pjecz.gob.mx/"><img class="m-2" src="{{ SITEURL }}/theme/images/sitios-interes-udheg-conatrib.png" alt="CONATRIB"></a>
                    </div>
                </div>
            </div>
        </section>

