<!-- Navegacion Sesiones -->
<nav id="navegacion_secundaria">
    <div class="container">
        <a href="{{ SITEURL }}/tag/pleno-del-tribunal-superior-de-justicia.html"><span class="badge badge-pill badge-primary badge-pleno-del-tribunal-superior-de-justicia">Pleno del TSJ</span></a>
        <a href="{{ SITEURL }}/tag/sala-civil-y-familiar.html"><span class="badge badge-pill badge-primary badge-sala-civil-y-familiar">Sala Civil y Familiar</span></a>
        <a href="{{ SITEURL }}/tag/sala-penal.html"><span class="badge badge-pill badge-primary badge-sala-penal">Sala Penal</span></a>
        <a href="{{ SITEURL }}/tag/sala-regional.html"><span class="badge badge-pill badge-primary badge-sala-regional">Sala Regional</span></a>
        <a href="{{ SITEURL }}/tag/tribunal-constitucional.html"><span class="badge badge-pill badge-primary badge-tribunal-constitucional">Tribunal Constitucional</span></a>
        <a href="{{ SITEURL }}/sesiones/votos-disidentes/"><span class="badge badge-pill badge-primary badge-votos-disidentes">Votos Disidentes</span></a>
        <a href="{{ SITEURL }}/sesiones/votos-particulares/"><span class="badge badge-pill badge-primary badge-votos-particulares">Votos Particulares</span></a>
    </div>
</nav>

