    <!-- Navegacion -->
<header>
    <nav id="navegacion_logo" class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="{{ SITEURL }}/theme/images/navegacion-logotipo.png" alt="PJECZ" width="200px"></a>
            <span class="navbar-text">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-twitter-square fa-lg"></i></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-facebook-square fa-lg"></i></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-vimeo-square fa-lg"></i></a></li>
                    </ul>
                </div>
            </span>
        </div>
    </nav>
    <nav id="navegacion_menu" class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsNavegacion" aria-controls="navbarsNavegacion" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsNavegacion">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown07">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-md-0">
                    <input class="form-control" type="text" placeholder="Buscar" aria-label="Buscar">
                </form>
            </div>
        </div>
    </nav>
</header>
    <!--
        <img src="{{ SITEURL }}/theme/images/navegacion-logotipo.png" alt="Poder Judicial de Coahuila">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarConocenos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Conócenos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarConocenos">
                            <a class="dropdown-item" href="{{ SITEURL }}/conocenos/quienes-somos/bienvenida/">Bienvenida</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/">Tribunal Superior de Justicia</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/conocenos/estructura/consejo-de-la-judicatura/">Consejo de la Judicatura</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/observatorio-judicial/">Observatorio Judicial</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/derechos-humanos-e-igualdad-de-genero/">DD.HH. e Igualdad de Género</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarConsultas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Consultas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarConsultas">
                            <a class="dropdown-item" href="{{ SITEURL }}/buzon-electronico/">Buzón Electrónico</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/citas/">Citas</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/consultas/edictos/">Edictos en Línea</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/consultas/expediente-virtual/">Expediente Virtual</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/consultas/listas-de-acuerdos/">Listas de Acuerdos</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/consultas/sentencias/">Versión Pública de Sentencias</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/consultas/">Más...</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarInformacion" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Información
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarInformacion">
                            <a class="dropdown-item" href="{{ SITEURL }}/acuerdos-del-consejo/">Acuerdos del Consejo</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/boletines-judiciales/">Boletines Judiciales</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/calendario-de-labores/">Calendario de Labores</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/category/comunicados.html">Comunicados</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/sesiones/">Sesiones</a>
                            <a class="dropdown-item" href="{{ SITEURL }}/tramites-y-servicios/">Trámites y Servicios</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ SITEURL }}/transparencia/">Transparencia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ SITEURL }}/transparencia-tca/">Transparencia TCA</a>
                    </li>
                </ul>

                    <a class="nav-link" title="Twitter" href="https://twitter.com/PJCoah" target="_blank"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a>
                    <a class="nav-link" title="Facebook" href="https://www.facebook.com/pjcoah/" target="_blank"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
    -->

