Title: {{ title }}
Slug: {{ slug }}
{% if summary %}Summary: {{ summary }}
{% endif %}
Category: {{ category }}
{% if tags %}Tags: {{ tags }}
{% endif %}
URL: {{ url }}
Save_As: {{ save_as }}
Date: {{ date }}
Modified: {{ modified }}
{% if downloads %}Downloads: {{ downloads }}
{% endif %}
{% if preview %}Preview: {{ preview }}
{% endif %}
{% if status %}Status: {{ status }}
{% endif %}


{{ content }}
